@font-face{
  font-family: "PF Das Grotesk Pro Bold";
  src: url(''{{'pfdasgroteskpro-bold-webfont.woff' | aasset_url }}'') format(woff),
       url(''{{'pfdasgroteskpro-bold-webfont.woff2' | aasset_url }}'') format(woff2),
  font-weight: 100;
  font-style: "normal";
}
