{% comment %}
ATB-SCHEMA{
  "name": "Featured collection",
  "id": "featured-products",
  "banner": "",
  "icon": "",
  "tags": "",
  "description": "",
  "class": "",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID",
      "info": "Enter a unique ID with only letters and numbers, no spaces",
      "default": ""
    },
    {
      "type": "text",
      "id": "atb_title",
      "label": "Heading",
      "default": "Featured collection",
      "info": ""
    },
    {
      "type": "collection",
      "id": "atb_home_featured_products",
      "label": "Collection",
      "info": ""
    },
    {
      "type": "select",
      "id": "atb_collection_products_grid",
      "label": "Grid style",
      "options": [
        {
          "value": "collage",
          "label": "Collage"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ],
      "info": ""
    }
  ],
  "warnings": []
}ATB-SCHEMA
{% endcomment %}


{% include 'atb-render' field:'section_id' %}
{% assign section_id = val %}
{% include 'atb-render' field:'atb_title' %}
{% assign atb_title = val %}
{% include 'atb-render' field:'atb_home_featured_products' %}
{% assign atb_home_featured_products = val %}
{% include 'atb-render' field:'atb_collection_products_grid' %}
{% assign atb_collection_products_grid = val %}

<section id="shopify-section-{{section_id}}" class="shopify-section ">
<div id="CollectionSection" data-section-id="{{ section_id }}" data-section-type="collection-template" data-grid-type="{{ atb_collection_products_grid }}">
  <div class="wrapper">
    {% if atb_title != blank %}
      <div class="section-header text-center">
        <h2 class="h1 section-header__title">{{ atb_title | escape }}</h2>
        <hr class="hr--small">
      </div>
    {% endif %}

    <div class="{% if atb_collection_products_grid == 'collage' %}grid grid-collage{% else %}grid-uniform{% endif %}">

      {% comment %}
        Loop through products in your Frontpage collection.
        This collection is created by default, but you must add products to it.

        See the snippet 'snippets/product-grid-collage.liquid'.

        `is_reverse_row_product`, `three_row_index_product`, `collection_product_count_product`, and `divisible_by_three_product` are
        all used by 'snippets/product-grid-collage.liquid'
      {% endcomment %}

      {% if atb_home_featured_products == blank or collections[atb_home_featured_products] == empty or collections[atb_home_featured_products].products_count == 0 %}

      {% comment %}
        For onboarding new users to your theme, we add some default products and onboarding tutorials to help populate their store
      {% endcomment %}
      {% unless emptyState %}
        {% assign emptyState = true %}
      {% endunless %}
        {% include 'onboarding-featured-products' %}
      {% else %}

        {% if atb_collection_products_grid == 'collage' %}

          {% assign is_reverse_row__product = false %}
          {% assign three_row_index__product = 0 %}
          {% if collections[atb_home_featured_products].products_count > 50 %}
            {% assign collection_product_count__product = 50 %}
          {% else %}
            {% assign collection_product_count__product = collections[atb_home_featured_products].products_count %}
          {% endif %}
          {% assign divisible_by_three__product = collection_product_count__product | modulo:3 %}

          {% for product in collections[atb_home_featured_products].products %}
            {% include 'product-grid-collage' %}
          {% endfor %}

        {% else %}

          {% assign grid_item_width = 'medium--one-half large--one-third' %}
          {% for product in collections[atb_home_featured_products].products %}
            {% include 'product-grid-item' %}
          {% endfor %}

        {% endif %}

      {% endif %}
    </div>
  </div>
</div>


</section>