{%- if template contains 'cart' or template contains 'product' -%}
{% include 'globo.alsobought.template' %}
<div id="globoRelatedProducts"></div>
<script data-instant-track type="text/javascript">globoAlsoBought.init();</script>
{%- endif -%}
