<div class="card with-nav-tabs">
   <div class="panel-heading">
      <ul class="nav nav-tabs row no-gutters">
         <li class="nav-item col-4">
           <a class="nav-link active" href="#tab1default" data-toggle="tab">
             <h6>How It<br>Works?</h6>
          </a>
         </li>
         <li class="nav-item col-4">
           <a class="nav-link" href="#tab2default" data-toggle="tab">
             <h6>Background<br>Selection</h6>
          </a>
         </li>
         <li class="nav-item col-4">
           <a class="nav-link" href="#tab3default" data-toggle="tab">
             <h6>Wag and Purr Promise</h6>
           </a>
         </li>
      </ul>
   </div>
   <div class="card-body">
      <div class="tab-content">
         <div class="tab-pane fade show active" id="tab1default">
           <div class="row no-gutters">
              <div class="col-md-4 col-sm-12">
                <div class="card">
                  <img src={{ 'Dog_1_HiRes.png' | asset_url }} class="card-img-top" alt="Upload a pet photo">
                  <div class="card-body">
                    <h5 class="card-title">1. Upload a pet photo</h5>
                    <p class="card-text">A well lit room or in sunlight is best!</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                <div class="card">
                  <img src={{ 'Dog_2_HiRes.png' | asset_url }} class="card-img-top" alt="Approve your art">
                  <div class="card-body">
                    <h5 class="card-title">2. Approve your art</h5>
                    <p class="card-text">Art is usually ready in 1-2 days for approval & background selection.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                <div class="card">
                  <img src={{ 'Dog_3_HiRes.png' | asset_url }} class="card-img-top" alt="Wag & Purr excitement!">
                  <div class="card-body">
                    <h5 class="card-title">3. Wag & Purr excitement!</h5>
                    <p class="card-text">Watch your friends be jealous.</p>
                  </div>
                </div>
              </div>
            </div>
         </div>
         <div class="tab-pane fade" id="tab2default">
           {% include 'art-background', product: product %}
         </div>
         <div class="tab-pane fade" id="tab3default">
           <div class="card">
             <img src={{ 'Dog_5_HiRes.png' | asset_url }} class="card-img-top" alt="100% Satisfaction Guarantee">
             <div class="card-body">
               <h5 class="card-title">100% Satisfaction Guarantee.</h5>
               <p class="card-text">If you aren’t 100% happy (wagging and purring) with your PetCanva purchase, we’ll work with you to make it right. Happy PetParents make happy pets. (It’s simple math). Smile. Wag. Purr. ‘nuff said.</p>
             </div>
           </div>
         </div>
      </div>
   </div>
</div>
