<div class="card with-nav-tabs">
   <div class="panel-heading">
      <ul class="nav nav-tabs">
         <li class="nav-item">
           <a class="nav-link active" href="#tab1default" data-toggle="tab">How It Works?</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#tab2default" data-toggle="tab">Background Selection</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#tab3default" data-toggle="tab">Wag and Purr Promise</a>
         </li>
      </ul>
   </div>
   <div class="card-body">
      <div class="tab-content">
         <div class="tab-pane fade show active" id="tab1default">
           {{ product.description }}
         </div>
         <div class="tab-pane fade" id="tab2default">
           Default 2
         </div>
         <div class="tab-pane fade" id="tab3default">
           Default 3
         </div>
      </div>
   </div>
</div>
