<!-- Guarantee Section -->
<div class="container-fluid product-guarantee">
  <div class="row">
    <div class="col-sm-4 col-12">
      <div class="row no-gutters">
        <div class="col-3 text-center">
          <i class="fas fa-flag-usa"></i>
        </div>
        <div class="col-9">
          <div class="wcst_guarantee_box_text ">
            <h5>Printed in the U.S.A.</h5>
            <p>We're based in Seattle, WA and are really proud of it -- we're not some mysterious overseas internet company and are happy to offer you top-notch customer service and a quality product.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-12">
      <div class="row no-gutters">
        <div class="col-3 text-center">
          <i class="fas fa-globe"></i>
        </div>
        <div class="col-9">
          <div class="wcst_guarantee_box_text ">
            <h5>Worldwide Shipping</h5>
            <p>We believe everyone, regardless of location, should be able to create a one-of-a-kind product with their pet on it and for that reason we ship to over 90 countries.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-12">
      <div class="row no-gutters">
        <div class="col-3 text-center">
          <i class="fas fa-shield-alt"></i>
        </div>
        <div class="col-9">
          <div class="wcst_guarantee_box_text ">
            <h5>Satisfaction Guarantee</h5>
            <p>If you aren’t 100% happy with your purchase, email us and we’ll work with you to make it right. Happy PetParents make happy pets. It’s simple math.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
